@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color: rgb(6, 77, 99);
}

.container {
    background-color: rgb(229, 236, 242);
    width: 100pc;
    margin-left: -120px;
}

.inner {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 170px;
    gap: 30px;
    transform: translateY(40px);
}

.saga-flag {
    width: 280px;
    height: 180px;
}

.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
    height: 450px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.title-row {
    height: 200px;
    width: 290px;
    margin-left: 30px;
}

.flag-p {
    text-align: start;
    font-size: 20px;
}

.flag-capital {
    text-align: start;
    font-size: 29px;

}

.saga-input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    margin-top: 25px;
    margin-right: 1090px;
    border: none;
}

.modal {
    background-color: aliceblue;
    width: 1500px;
    margin-left: -110px;
    margin-top: -60px;
    height: 800px;

}

.modal-flag {
    width: 490px;
    height: 320px;
    margin-left: -700px;
    margin-top: 150px;
}

.modal-btn {
    transform: translate(-620px, -360px);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: white;
}

.modal-btn:hover {
    background-color: rgb(216, 244, 244);
}

.modal-item {
    margin-top: -418px;
    width: 630px;
    height: 390px;
    border: 1px solid rgb(241, 235, 235);
    margin-left: 750px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
    margin-left: 780px;
    margin-top: -147px;
}

.border-row {
    display: flex;
    flex-direction: row;
    width: 80px;
    gap: 10px;
    margin-left: 20px;
    margin-top: -20px;
}

.modal-inner {
    margin-left: 30px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-top: 73px;

}

.neighbor-img {
    width: 40px;
    height: 25px;
    margin-top: 20px;
}

.modal-tit {
    font-size: 30px;
    text-align: start;
    transform: translate(780px, -320px);
}

.modal-p {
    text-align: start;
    font-size: 18px;
}

.modal-into-row2 {
    margin-left: 10px;

    width: 300px;
}

.modal-into2 {
    text-align: start;
}

.right {
    height: 40px;
    background-color: rgb(78, 94, 99);
    margin-top: -40px;
    width: 1600px;
    margin-left: -120px;
}

.container {
    background-color: rgb(221, 233, 242);
    color: black;
    transition: background-color 0.3s ease;
}

.container.dark {
    background-color: #222;
    color: black
}

.change {
    transform: translate(130px, -55px);
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
    background-color: #1c2d39;
    color: white;
}

.change:hover{
    background-color: #4f4b4b;
}